<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>NotFound</ion-title>
  </ion-toolbar>
  <!-- Open menu buttom -->
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">NotFound</ion-title>
    </ion-toolbar>
  </ion-header>
  <img src="../../../assets/Pusheennotfound.png">
  <div class="ion-text-center">
    <h2>No existe o no tienes permiso para entrar (・`ω´・) </h2>
    <ion-button expand="full" color="tertiary" class="small" routerLink="/home">Volver a Home</ion-button>
  </div>
  <app-footer></app-footer>
</ion-content>

