<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acerca de</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
      ¿Quien Soy? / ¿Que quiero solucionar?
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="primary">
        <h1>Soy Daniela Arias Peña y pertenezco a la Sección 2 Aplicaciones Moviles</h1>
      </ion-text>
      <p><ion-text color="tertiary">
        <h2>Soy la enfermera encargada de una Toma de muestras y esta es mi aplicación movil para
          el registro de las descontaminaciones iniciales y finales de cada box y el registro de temperatura 
          y humedad de la bodega con material esteril ଘ(੭ˊ꒳​ˋ)੭✧	</h2>
      </ion-text></p>
  </ion-card-content>
  </ion-card>
  <app-footer></app-footer>
</ion-content>
