<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acerca de</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Sobre mi :)
      </ion-card-title>
    </ion-card-header>
    
    <ion-card-content c>
Daniela Arias Peña Sección 3 Aplicaciones Moviles    </ion-card-content>
  </ion-card>
</ion-content>
