<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
  <!-- Open menu buttom -->
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acerca de</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
      Donde estamos ubicados: 
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><ion-text color="tertiary">
        <capacitor-google-map #map></capacitor-google-map>

      </ion-text></p>
  </ion-card-content>
  </ion-card>
  <app-footer></app-footer>
</ion-content>
