<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de Usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <ion-list-header>
      <ion-label>Usuarios</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let user of users">
      <ion-label>{{ user.name }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-card #card style="width: 300px; --width: 300px;">
    <ion-card-content>Probando las animaciones</ion-card-content>
    <ion-button color ='tertiary' (click)="play()">Play</ion-button>
  <ion-button color ='tertiary' (click)="pause()">Pause</ion-button>
  <ion-button color ='tertiary' (click)="stop()">Stop</ion-button>
  </ion-card>
  <app-footer></app-footer>
</ion-content>
